
@{
    ViewBag.Title = "AddquestionMatran";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section naviheader{
    <h1>Quản Lý Đề Thi</h1>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Quản Lý Đề Thi</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="#">Thêm Đề Thi</a>
        </li>
    </ul>


}
<div class="order">
    <div class="head">




        <button class="btn btn-primary float-right" id="submitThem">Thêm Đề Thi</button>

    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label class="text-primary" for="exampleInputEmail1">Tên Đề Thi</label>
                            <input type="text" name="TenDeThi" class="form-control" placeholder="Tên Đề Thi" required />
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="text-primary">Tên Môn Học</label>
                                    @Html.DropDownList("IdSubject", ViewBag.IdSubject as SelectList, "--Chọn Môn Học --", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="text-primary" for="Time">Thời Gian</label>
                                <input type="number" name="Thoigian" class="form-control" placeholder="Thời Gian" min="0" max="100"  required/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="mt-4" id="matrande">
        <h4 class="text-center text-danger">Thêm Câu Hỏi Từ Ma Trận</h4>
        <div class="form-group">
            @Html.DropDownList("chudecha", ViewBag.IdParent as SelectList, "--Chọn Chủ Đề --", htmlAttributes: new { @class = "form-control" })
        </div>
    </section>


    <table id="dulieubang">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Chủ Đề</th>
                <th>Số Lượng Câu Hỏi</th>
                <th>Tổng</th>
            </tr>
        </thead>
        <tbody id="dulieu">
            <!-- Dữ liệu sẽ được đổ vào đây -->

        </tbody>
    </table>
    <h3 class="text-center text-danger font-weight-bold"> Tổng: <span id="tongCauHoi"></span>Câu Hỏi</h3>
</div>
@section scripts{
    <script>
      
        $('#submitThem').click(function () {
           
            var topicIds = []; // Mảng chứa dataId của các input
            var Nameexam = $('input[name="TenDeThi"]').val();
            var MonHoc = $('select[name="IdSubject"]').val();
            var ThoiGian = $('input[name="Thoigian"]').val();
            $('.topic-input').each(function () {
                var dataId = $(this).data('id');
                var socauhoi = $(this).val();
                var topicInfo = { idTopic: dataId, socauhoi: socauhoi };
                topicIds.push(topicInfo); // Thêm đối tượng vào mảng   
            });
            $.ajax({
                url: '/admin/Dethi/Getquestionsbytopics',
                type: 'POST',
                data: { ids: topicIds, nameExam: Nameexam, monHoc: MonHoc, thoiGian: ThoiGian }, // Gửi danh sách ids trong yêu cầu AJAX
                dataType: 'json',
                success: function (data , re) {
                    if (re.success) {
                        toastr.success('Thêm Thành Công', 'Title');
                    } else {
                        toastr.error('Thêm Thất bại ', 'Title');
                    }
                },
                error: function (error) {
                    // Xử lý lỗi nếu có
                }
            });
        });
        $('#chudecha').change(function () {
            var idchudecha = $(this).val();
            if (idchudecha !== '') {
                // Gửi yêu cầu AJAX để lấy dữ liệu từ server
                $.get("/Admin/Dethi/GetStateList", { TopicPrId: idchudecha }, function (data) {
                    // Xóa dữ liệu cũ trong bảng
                    $("#dulieu").empty();

                    // Đổ dữ liệu mới vào bảng
                    $.each(data, function (index, row) {
                        var newRow = "<tr>" +
                            "<td>" + row.idTopic + "</td>" +
                            "<td>" + row.NameTopic + "</td>" +
                            "<td><input type='number' class='form-control topic-input' data-id='" + row.idTopic + "'></td>" +
                            "<td class='total'></td>" +
                            "</tr>";
                        $('#dulieu').append(newRow);
                    });
                 
                    $('.topic-input').on('change', function () {
                        var sum = 0;

                        // Tính tổng từ các ô input và cập nhật vào ô hiển thị tổng
                        $('.topic-input').each(function () {
                            var value = parseInt($(this).val());
                            if (!isNaN(value)) {
                                sum += value;
                            }
                        });

                        // Hiển thị tổng vào thẻ span
                        $('#tongCauHoi').text(sum);
                    });
                });
            }
        });
       
    </script>
    
    }