@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<DoAnCs.Models.ApplicationUser>

@{
    ViewBag.Title = "Danh sách Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";

}
<div class="order">
    <div class="head">
        <a href="/admin/Account/create" class="btn btn-success">Thêm mới</a>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tài khoản</th>
                    
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.UserName</td>
>                            <td>@item.Email</td>
                            <td>
                                <a href="/admin/account/edit/@item.UserName" class="btn btn-sm btn-primary">Sửa</a>
                                <a href="#" data-user="@item.UserName" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                            </td>
                        </tr>
                        i++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>

<!-- Main content -->
<!-- /.content -->
