@*@using Microsoft.AspNet.Identity.EntityFramework*@
@*@model IEnumerable<DoAnCs.Models.ApplicationUser>*@
@model List<DoAnCs.Models.Viewmodel.UserWithRolesViewModel>
@{
    ViewBag.Title = "Danh sách Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";

}
<div class="order">
    <div class="head">
        <a href="/admin/Account/create" class="btn btn-success">Thêm mới</a>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tài khoản</th>

                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>
                                @foreach (var role in item.Roles)
                                {
                                    @role  <br />
                                }
                            </td>


                            <td>
                                <a href="/admin/account/edit/@item.UserId" class="btn btn-sm btn-primary">Sửa</a>
                                <a href="#" data-user="@item.UserId" class="btn btn-sm btn-danger btnDelete">Xóa</a>

                            </td>
                        </tr>
                        i++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>

<!-- Main content -->
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function (e) {
                e.preventDefault();
                var userId = $(this).data('user');

                // Hiển thị hộp thoại xác nhận trước khi xóa
                if (confirm("Bạn có chắc chắn muốn xóa người dùng này không?")) {
                    // Nếu người dùng đồng ý, thực hiện xóa
                    $.ajax({
                        url: '/Admin/Account/Delete', // Thay đổi đường dẫn tương ứng với endpoint xóa người dùng của bạn
                        method: 'POST',
                        data: { userId: userId },
                        success: function (response) {
                            // Xử lý phản hồi nếu cần
                            alert('Người dùng đã được xóa');
                        },
                        error: function (error) {
                            // Xử lý lỗi nếu có
                            alert('Lỗi khi xóa người dùng', error);
                        }
                    });
                } else {
                    // Nếu người dùng không đồng ý, không thực hiện xóa
                    alert('Hành động xóa đã bị hủy bỏ');
                }
            });
        });
    </script>
    }