
@{
    ViewBag.Title = "Er404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>404 - Not Found</title>

</head>
<body>
    <div class="container">
        <h1 class="text-center">404 - Not Found</h1>
        <p class="text-center">Không Tìm Thấy Đề Thi.</p>
        <p class="text-center"><a href="/">Go to Home Page</a></p>
    </div>
</body>
</html>


