
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/asset/css/Loginc.css" rel="stylesheet" />
    <title>Dangnhap</title>
</head>
<body>
    <section background-position: center; background-size: cover; ">
        <div class="form-box">
            <div class="form-value">
                <form method="post" action="">
                    <h2>Login</h2>

                    @using (Html.BeginForm())
                    {

                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <span>Email</span> <br />
                            @Html.TextBox("txtEmail")
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <span>Mật Khẩu</span> <br />

                            <input name="txtMatKhau" type="password" />
                        </div>
                        <button type="submit">Log in</button>
                        @* <input type="submit" id="btnSubmit" name="btnSubmit" />*@

                    }

                    <div class="register">
                        <p style="color:red"> @ViewBag.ThongBao</p>
                        <p>Don't have a account <a href="#">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>



