body {
}

.main_slider {
    margin-bottom: 200px;
}

.dethii {
    background-color: whitesmoke;
    box-sizing: border-box;
    border: solid 1px;
    box-shadow: 5px 5px 8px 5px #808080;
    max-width: 50%;
}

body {
    background-color: lightgray;
}
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}


