@model DoAnCs.Models.Subject
@{
    ViewBag.Title = "Addjson";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<form id="myform">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!-- your steps content here -->
    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên Môn Học</label>
            @Html.TextBoxFor(x => x.NameSubject, new { @class = "form-control", @placeholder = "Tên Môn Học" })
            @Html.ValidationMessageFor(x => x.NameSubject, null, new { @class = "text-danger" })
        </div>





        <div class="form-group">
            <a href="/admin/productcategory" class="btn btn-danger">Quay Lại</a>
            <button type="submit" id="submitcl" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#submitcl').click(function () {
                var data = $('#myform').serialize();
                debugger
                $.ajax({
                    type: "POST",
                    url: "/MonHoc/Addtest",
                    data: data,
                    success: function (re) {
                        alert('dsd');
                    }
                })

            });
        });
    </script>
    
    }
