@model List<DoAnCs.Models.Subject>
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@using (Html.BeginForm("BulkData", "MonHoc", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    for (var i = 0; i < Model.Count; i++)
    { <div id="subjectInputs">
    <div class="subject">

        <label for="ci_@(i)__NameSubject">Name:</label>
        <input type="text" name="ci[@(i)].NameSubject" id="ci_@(i)__NameSubject" value="@Model[i].NameSubject" />

        <label for="ci_@(i)__textJson">JSON:</label>
        <textarea name="ci[@(i)].textJson" id="ci_@(i)__textJson">@Model[i].textJson</textarea>
    </div>
</div>
       
    }

    <button type="button" id="addSubjec1t">Add Subject</button>


    <input type="submit" value="Save" />
}

@if (ViewBag.Message != null)
{
    <div>@ViewBag.Message</div>
}
@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>


        $(document).ready(function () {
            var subjectCount = 0;

            $("#addSubjec1t").click(function () {
                subjectCount++;

                var newSubjectHtml = `
                            <div class="subject">


                                <label for="ci_${subjectCount}__NameSubject">Name:</label>
                                <input type="text" name="ci[${subjectCount}].NameSubject" id="ci_${subjectCount}__NameSubject" value="" />

                                <label for="ci_${subjectCount}__textJson">JSON:</label>
                                <textarea name="ci[${subjectCount}].textJson" id="ci_${subjectCount}__textJson"></textarea>
                            </div>
                            `;

                $("#subjectInputs").append(newSubjectHtml);
            });
        });




    </script>
}
