
@{
    ViewBag.Title = "DisplayQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}



<h1>Danh sách câu hỏi</h1>

@foreach (var question in ViewBag.QuestionData)
{
    <p>@question.Content</p>
    <p>@question.DapAnA</p>
}