@model IEnumerable<DoAnCs.Models.Subject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section naviheader{
    <h1>Quản Lý Môn Học</h1>
    <ul class="breadcrumb">
        <li>
            <a class="active" href="/admin/home">Home</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="/admin/monhoc">Môn Học</a>
        </li>
    </ul>


}
<div class="order">
    <div class="head">

     
        <a href="/admin/MonHoc/Add" class="btn btn-primary"> <i class="fa-solid fa-plus"></i></a>
  

        <input class="btn btn-danger" type="button" id="deleteall" name="name" value="Xóa Tất Cả" />

    </div>
    @if (Model.Any() && Model != null)
    {
        var i = 1;
        <table>
            <thead>
                <tr class="text-center">
                    <th><input id="checkAll" class="checkbox1" type="checkbox"> </th>

                    <th>STT</th>
                    <th>Tên Môn Học</th>
                    <th class="float-right"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input custom-checkbox" type="checkbox" name="group1" value="@item.IdSubject">
                            </div>
                        </td>
                        <td>
                            <p>@i</p>
                        </td>
                        <td>@item.NameSubject</td>
                        <td class="float-right">
                            <a href="/admin/MonHoc/chitiet/@item.IdSubject " class="btn btn-primary"><i class="fa fa-info"></i></a>

                            <a href="/admin/MonHoc/edit/@item.IdSubject " class="btn btn-primary"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-danger" onclick="if (confirm('are you sure') == true) location.href = '/admin/MonHoc/delete/@item.IdSubject '"><i class="fa fa-trash" style="color: white;"></i></a>
                        </td>
                    </tr>

                    i++;
                }


            </tbody>
        </table>

    }
    else
    {
        <p>Không Có Gì</p>
    }
</div>
@section scripts{

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Lấy tham chiếu đến checkbox "all"
        var checkAll = document.getElementById('checkAll');

        // Lấy danh sách tất cả các checkbox trong tbody
        var checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');

        // Thêm sự kiện click cho checkbox "all"
        checkAll.addEventListener('click', function () {
            // Lặp qua tất cả các checkbox trong danh sách và thiết lập checked giống với checkbox "all"
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = checkAll.checked;
            });
        });

        $("#deleteall").click(function () {
            var idss = [];
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    idss.push(checkbox.value);
                }

            });

         
            $.ajax({
                url: "/MonHoc/Deleteall",
                type: "POST",
                data: { ids : idss},
                success: function (result) {
                    location.reload();
                },
                error: function (error) {

                    console.log(error);
                }
            });
        });

    </script>

}