@model DoAnCs.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/asset/css/Loginc.css" rel="stylesheet" />
    <title>Dangnhap</title>
</head>
<body>
    <section background-position: center; background-size: cover;>
        <div class="form-box">
            <div class="form-value">
                <form method="post" action="">
                    <h2>Quên Mật Khẩu</h2>

                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true);
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>

                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Tài khoản" })
                            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })

                        </div>
                       
                        <div style="margin: 15px 0"  class="row">
                           
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Quên Mật Khẩu</button>
                            </div>
                            <!-- /.col -->
                        </div>

                    }

                  
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>



