@{
    ViewBag.Title = "About";

}
<link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">

<link href="#" rel="stylesheet" />
<section class="dethi">
    <div class="container">
        <div class="card-item">
            <div class="card">
                <div class="card-header">
                    Đề Thi Môn Tiếng Anh
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Số Lượng :  Số Phút</p>
                    <a href="#" class="btn btn-primary">Vào Thi</a>
                </div>
            </div>
        </div>

        <div class="card-item" style="margin:10px 0">
            <div class="card">
                <div class="card-header">
                    Đề Thi Môn TOán
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Số Lượng :  Số Phút</p>
                    <a href="#" class="btn btn-primary">Vào Thi</a>
                </div>
            </div>
        </div>


        <div class="card-item">
            <div class="card">
                <div class="card-header">
                    Đề Thi Môn Ngữ văn
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Số Lượng :  Số Phút</p>
                    <a href="#" class="btn btn-primary">Vào Thi</a>
                </div>
            </div>
        </div>
        <div class="card-item">
            <div class="card">
                <div class="card-header">
                    Đề Thi Môn Hóa
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Số Lượng :  Số Phút</p>
                    <a href="#" class="btn btn-primary">Vào Thi</a>
                </div>
            </div>
        </div>
        <div class="card-item">
            <div class="card">
                <div class="card-header">
                    Đề Thi Môn Tiếng Anh
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Số Lượng :  Số Phút</p>
                    <a href="#" class="btn btn-primary">Vào Thi</a>
                </div>
            </div>
        </div>


    </div>







</section>