<!-- Deal of the week -->
<div class="main_slider" style="background-image:url('../../Public/Ôn thi Trắc nghiệm.png')">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="deal_ofthe_week">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='https://m.tracnghiem.net/de-kiem-tra/'">
                <div class="shadow-box">
                    <div class="img"><img src="https://s.tracnghiem.net/assets/images/home/feature1.jpg" alt="Đề thi học kỳ"></div>
                    <h3>Đề thi học kỳ</h3>
                    <p>
                        Ngân hàng câu hỏi đầy đủ các môn cấp 1,2,3 được trộn tạo đề theo cấu trúc phân loại giúp
                        các em dễ dàng ôn tập online đề thi giữa học kỳ, thi học kỳ theo các chủ đề đã học.
                    </p>
                    <a href="https://m.tracnghiem.net/de-kiem-tra/?type=2" class="btn orange">Làm ngay</a>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='https://m.tracnghiem.net/thptqg/'">
                <div class="shadow-box">
                    <div class="img"><img src="https://s.tracnghiem.net/assets/images/home/feature2.jpg" alt="Đề thi THPT QG"></div>
                    <h3>Đề thi THPT QG</h3>
                    <p>
                        Tổng hợp đề thi trắc nghiệm online THPT QG của các môn Toán, Tiếng Anh, Vật lý, Hóa học,
                        Sinh học, Địa lý, Lịch sử, GDCD kèm đáp án và lời giải chi tiết.
                    </p>
                    <a href="https://m.tracnghiem.net/thptqg/" class="btn orange">Làm ngay</a>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='https://m.tracnghiem.net/de-kiem-tra/'">
                <div class="shadow-box">
                    <div class="img"><img src="https://s.tracnghiem.net/assets/images/home/feature3.jpg" alt="Đề kiểm tra"></div>
                    <h3>Đề kiểm tra</h3>
                    <p>
                        Hệ thống bài kiểm tra 1 tiết, kiểm tra 15 phút được thiết kế theo hình thức trắc nghiệm
                        online giúp học sinh có thể tạo ra đề tự luyện tập và chấm điểm trực tuyến.
                    </p>
                    <a href="https://m.tracnghiem.net/de-kiem-tra/?type=3" class="btn orange">Làm ngay</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Best Sellers -->
<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blogs -->
