<!-- Deal of the week -->
<div class="flex-wr-sb-c p-rl-20 p-t-20 f2-s-1">
    <span class="text-uppercase cl2 p-r-8">
        <strong style="font-weight:800;margin-right:5px;color:#00000; font-size:28px;">Bài Thi Hot </strong>

    </span>
    <marquee id="exam-trending" class="trending" width="85%" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
        <span class="trending-item">
            <span class="dis-inline-block">
                <a class="f1-s-2 cl3 hov-cl10 trans-03">
                    <i class="far fa-newspaper"></i>&nbsp;&nbsp;
                    <span class="exam-title">
                        <strong style="color:#00000; font-size:15px;">Đề thi thử môn Tiếng Anh 6 </strong>

                    </span>
                </a>
            </span>
            <span class="cl9">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        </span>
        <span class="trending-item">
            <span class="dis-inline-block">
                <a>
                    <i></i>&nbsp;&nbsp;
                    <span class="exam-title">
                        <strong style="color:#00000; font-size:15px;">Đề Thi Đại Số Tuyến Tính</strong>

                    </span>
                </a>
            </span>
            <span class="cl9">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        </span>
        <span class="trending-item">
            <span class="dis-inline-block">
                <a class="f1-s-2 cl3 hov-cl10 trans-03">
                    <i class="far fa-newspaper"></i>&nbsp;&nbsp;
                    <span class="exam-title">
                        <strong style="color:#00000; font-size:15px;"> Đề Thi Môn Lịch Sử Đảng</strong>

                    </span>
                    <span class="d-none exam-view">40765</span>
                </a>
            </span>
            <span class="cl9">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        </span>
        <span class="trending-item">
            <span class="dis-inline-block">
                <a>
                    <i class="far fa-newspaper"></i>&nbsp;&nbsp;
                    <span class="exam-title">
                        <strong style="color:#00000; font-size:15px;"> Đề Thi Môn Quốc Phòng An Ninh 3</strong>

                    </span>

                </a>
            </span>
            <span class="cl9">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        </span>
        <span class="trending-item">
            <span class="dis-inline-block">
                <a>
                    <i class="far fa-newspaper"></i>&nbsp;&nbsp;
                    <span class="exam-title">
                        <strong style="color:#00000; font-size:15px;">Đề Thi Môn Triết Học Mác-Lêninh</strong>
                    </span>
                    <span class="d-none exam-view">29489</span>
                </a>
            </span>
            <span class="cl9">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        </span>
    </marquee>
</div>


<section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row no-gutters">
            <div class="col-lg-6">
                <img src="~/public/images/welcomeTKB.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
                <div class="section-title">
                    <h1 class="line-box"></h1>
                </div>
                <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <h2 style="color: #004bffa3 ">Chào mừng đến với Ôn Thi Trắc Nghiệm 3 AE!</h2>
                    <p class="description">

                        <br>Ngân hàng câu hỏi trắc nghiệm online đầy đủ các môn học đại cuơng, môn học chuyên ngành giúp các
                        bạn Sinh viên ôn thi kết thúc học phần/tín chỉ ở trường ĐH-CĐ đạt kết quả tốt.
                    </p>
                    <a class="btn btn-outline-primary" href="/DeThi/Index">Vào Thi</a>
                </div>

            </div>
        </div>

    </div>
</section>

<div class="deal_ofthe_week">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='#'">
                <div class="shadow-box">
                    <h3>Giới thiệu phần mềm thi trắc nghiệm tuуến</h3>
                    <p>
                        Phần mềm thi trắc nghiệm chính là một trong những phần mềm mang đến giải pháp ᴠô cùng toàn diện phục ᴠụ cho công tác quản lý nhất là trong quản lý học ᴠiên.Đồng thời phần mềm ѕẽ hỗ trợ hình ảnh, câu hỏi, chịu trách nhiệm ra đề cũng như thi trắc nghiệm trực tuуến.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='#'">
                <div class="shadow-box">
                    <h3>Lợi ích mà phần mềm thi trực tuуến mang lại</h3>
                    <p>
                        -Giúp tiết kiệm thời gian cũng như tiết kiệm chi phí. <br />- Mật độ chính хác chấm điểm cao không nhầm lẫn. <br />- Bắt kịp хu hướng giáo dục hiện đại.Hỗ trợ các tính năng ᴠượt trội.
                    </p>

                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='#'">
                <div class="shadow-box">
                    <h3> Tính năng có trong phần mềm thi trắc nghiệm Online</h3>
                    <p>
                        - Quản lý danh ѕách các học ᴠiên, danh ѕách môn học.  <br /> -Quản lý hệ thống câu hỏi . <br />- Quản lý các kỳ thi trắc nghiệm.<br /> - Xuất kết quả thi ѕau khi thí ѕinh làm хong.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 relative hover-link" onclick="window.location.href='#'">
                <div class="shadow-box">
                    <h3>Phần góp ý dành cho các sinh viên</h3>
                    <p>
                        Chức năng này cho phép các thành viên cũng như người dùng truy cập vào website có thể  đóng góp những ý kiến về mức độ khó của các câu hỏi, yêu cầu hướng dẫn cách thức làm bài trắc nghiệm trên website như thế nào, nêu ra những ý kiến đóng góp để website được hoàn thiện hơn
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Best Sellers -->
<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blogs -->
