
<div class="modal fade bd-example-modal-lg" id="chitietModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mb-4" id="exampleModalLongTitle">Chi Tiết Đề Thi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="chitietModalBody">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="border:0px" class="card text-center">
                                <div class="card-body">
                                    <img id="examImage123" alt="Exam Image" style="width: 262px; border-radius: 16px; height: 180px;" />
                                    <h5 id="examName123" class="card-title mt-4"></h5>
                                    <p style="color:red;" class="card-text"><i class="fa-regular fa-circle-question"></i>   <i class="fa-solid fa-signal"></i>   <i class="fa-regular fa-clock"></i></p>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 ml-auto reviews_col">
                         
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" style="width:100%;" class="btn btn-primary" id="confirmAction">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
